.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    background-color: whitesmoke;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
     padding: 2px; 
     margin: 5px; 
     /* width: 90px;  */
    
}